@charset "UTF-8";
/* MINDsLab. NBR. 20200902 */

/* common css file */
@import url("~@/assets/css/reset.scss");
@import url("~@/assets/css/font.scss");

/* -------------------- common -------------------- */
/* scrollbar - chrome만 적용됨 */
::-webkit-scrollbar {width: 10px; height: 10px; border-radius: 5px;}  /* 스크롤바의 width */
::-webkit-scrollbar-track {background: transparent;}  /* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb {border-radius: 5px; background: #919191;}  /* 스크롤바 색 */
::-webkit-scrollbar-button {display: none;}  /* 위 아래 버튼 (버튼 없애기를 함) */
/* //scrollbar */

/* loading - 201113 NBR 추가*/
.page_loading {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #EFF1F7; z-index: 9999;}
.loading_itemBox {display: block; position: absolute; top: 50%; left: 50%; width: 80px; height: 80px; margin: -40px 0 0 -40px;}
.loading_itemBox span {position: absolute; top: 33px; width: 13px; height: 13px; border-radius: 50%; background: #00829d; animation-timing-function: cubic-bezier(0, 1, 1, 0);}
.loading_itemBox span:nth-child(1) {left: 8px;  animation: loading_item1 1s infinite;}
.loading_itemBox span:nth-child(2) {left: 8px;  animation: loading_item2 1s infinite;}
.loading_itemBox span:nth-child(3) {left: 32px; animation: loading_item2 1s infinite;}
.loading_itemBox span:nth-child(4) {left: 56px; animation: loading_item3 1s infinite;}

@keyframes loading_item1 {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}
@keyframes loading_item3 {
    0% {transform: scale(1);}
    100% {transform: scale(0);}
}
@keyframes loading_item2 {
    0% {transform: translate(0, 0);}
    100% {transform: translate(24px, 0);}
}

.pageldg_hide {-webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-name: pageldg_hide; animation-name: pageldg_hide;}

@-webkit-keyframes pageldg_hide {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes pageldg_hide {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
/* //loading */

/* color */
/* background color */
.bg_blue {background-color: #00829d;}
.bg_green {background-color: #009583;}

/* border color */
.bd_blue {border-color: #00829d;}
.bd_green {border-color: #009583;}
/* //color */

/* float */
.fl {float: left;}
.fr {float: right;}
/* //float */

/* hide */
.hide {position: absolute; top: 0; left: 0; clear: both; overflow: hidden; width: 0; height: 0; margin: 0; padding: 0; line-height: 0;}
/* //hide */

/* btnBox */
.btnBox {display: block;}
.btnBox a {display: inline-block; padding: 0 20px; border: 1px solid transparent; border-radius: 3px; box-sizing: border-box; background: #009583; color: #fff; font-weight: 700; text-align: center; line-height: 28px; vertical-align: middle;}
.btnBox a:hover {box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); transition: all 0.3s ease-out;}
/* //btnBox */

/* iptBox */
.iptBox {display: inline-block; position: relative;}
.iptBox div {display: inline-block;}
.iptBox input {display: inline-block; width: 100%; height: 30px; padding: 0 5px; border: 1px solid #C7D0D3; border-radius: 3px; box-sizing: border-box; background: #fff; color: inherit; font-size: 13px;}
.iptBox input:focus {border: 1px solid rgba(11,42,74,0.4); box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1); transition: all 0.3s ease-out;}
.iptBox input.iptDateTime {width: 140px; background: url('~@/assets/images/ico_calendar.png')100% 50% no-repeat; background-size: 20px;}
/* //iptBox */

/* chkBox */
.chkBox {display: inline-block;}
.chkBox input[type="checkbox"] {/* position: absolute; */ overflow: hidden; width: 0px; height: 0px; margin: -1px; padding: 0; clip: rect(0,0,0,0); border: 0;}
.chkBox input[type="checkbox"]:checked {/* width: 5px; height: 5px; overflow: visible; background: #000; */}
.chkBox input[type="checkbox"] + label {display: inline-block; position: relative; padding: 0 0 0 23px; font-size: 12px; cursor: pointer;}
.chkBox input[type="checkbox"] + label:before {content: ''; position: absolute; top: -13px; left: 2px; width: 15px; height: 15px; line-height: 15px; text-align: center; border: 1px solid rgba(11,42,74,0.3); border-radius: 3px; background: #fff;}
.chkBox input[type="checkbox"]:checked + label:before {content: '\2713'; border-color: #00829d; background: #00829d; color: #fff;}
.chkBox input[type="checkbox"]:checked + label {color: #00829d;}
/* //chkBox */

/* radioBox */
.radioBox {display: inline-block;}
.radioBox input[type="radio"] {position: absolute; overflow: hidden; width: 1px; height: 1px; margin: -1px; padding: 0; clip: rect(0,0,0,0); border: 0;}
.radioBox input[type="radio"] + label {display: inline-block; position: relative; padding: 0 0 0 23px; font-size: 12px; cursor: pointer;}
.radioBox input[type="radio"] + label:before {content: ''; position: absolute; top: -12px; left: 3px; width: 17px; height: 17px; margin: -1px 0 0 0; line-height: 15px; text-align: center; border: 1px solid rgba(11,42,74,0.3); border-radius: 100%; box-sizing: border-box; background: #fff; cursor: pointer;}
.radioBox input[type="radio"]:checked + label:before {border-color: #009583;}
.radioBox input[type="radio"]:checked + label:after {content: ''; position: absolute; top: -9px; left: 7px; width: 9px; height: 9px; border-radius: 100%; background: #009583;}
/* //radioBox */

/* select */
.select {display: inline-block; height: 30px; padding: 0 20px 0 5px; font-size: 13px; border: 1px solid #C7D0D3; border-radius: 3px; background: #fff url(~@/assets/images/arw_bottom_bk.png) right 7px top 50% no-repeat; line-height: 30px; transition: all 0.3s ease-out;}
.select:focus {border: 1px solid rgba(11,42,74,0.4); box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1); transition: all 0.3s ease-out;}
.select[disabled] {border: 1px solid #C7D0D3; background: #f0f0f0; cursor: default; opacity: 1;}
/* //select */

/* scroll select */
.sltBox.custom select {display: none;}
.slt_scroll {display: block; position: relative; padding: 0 20px 0 5px; border-radius: 3px; border: 1px solid #C7D0D3; box-sizing: border-box; background: #fff url(~@/assets/images/arw_bottom_bk.png) right 7px top 50% no-repeat; line-height: 28px; white-space: nowrap; cursor: pointer; outline: none;}
.sltBox.disabled .slt_scroll {background: #f0f0f0; color: #8f8f8f; cursor: default;}
.slt_scroll:focus {border: 1px solid rgba(11,42,74,0.4); box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1); transition: all 0.3s ease-out;}
.sltBox.disabled .slt_scroll:focus {border: 1px solid #C7D0D3; box-shadow: none;}
.slt_scroll:active,
.slt_scroll.open {box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1); transition: all 0.3s ease-out;}
.slt_scroll.open .list {-webkit-transform: scaleY(1); transform: scaleY(1); opacity: 1; pointer-events: auto;}
.slt_scroll.open .option {cursor: pointer;}
.slt_scroll.wide {width: 100%;}
.slt_scroll.wide .current_option {display: inline-block; overflow: hidden; width: 100%; text-overflow: ellipsis;}
.slt_scroll .list {overflow: auto; position: absolute; top: 100%; left: 0; width: 100%; max-height: 260px; margin: 4px 0 0; padding: 4px 0; border: 1px solid rgba(11,42,74,0.4); border-radius: 3px; box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1); box-sizing: border-box; background: #fff; transition: transform 0.2s ease-out; -webkit-transform: scaleY(0); transform: scaleY(0); -webkit-transform-origin: 50% 0; transform-origin: 50% 0; opacity: 0; pointer-events: none; z-index: 10;}
.slt_scroll .list:hover .option:not(:hover) {background: transparent;}
.slt_scroll .option {padding: 0 10px; line-height: 25px; transition: all 0.3s ease-out; outline: none;}
.slt_scroll .option:hover,
.slt_scroll .option:focus {background: #f6f6f6;}
.slt_scroll .option.selected:focus {background: #f6f6f6;}
/* //scroll select */

/* Table(View,Edit) */
.tbl_line_view {width: 100%; table-layout: fixed;}
.tbl_line_view tbody {border-top: 2px solid #4e8692; border-bottom: 2px solid #4e8692;}
.tbl_line_view tbody th {border: 1px solid #c7d0d3; background: #e9f1f3; padding: 5px;  text-align: center;}
.tbl_line_view tbody td {border: 1px solid #c7d0d3; background: #e9f1f3; padding: 5px;  text-align: left;}
.tbl_line_view tbody td {background:#fff;}
.tbl_line_view tbody tr th:first-child {border-left: none;}
.tbl_line_view tbody tr td:last-child {border-right: none;}
/* //Table(View,Edit) */

/* srchArea */
.srchArea {width: 100%; margin: 0 0 5px;}
.srchArea tbody td {padding: 5px;}
.srchArea tbody td .iptBox {width: 100%;}
.srchArea tbody td select {width: 100%;}
.srchArea .btnBox {padding: 5px 0 0; text-align: right;}
.srchArea .btnBox a {margin: 0 2px;}
/* //srchArea */

/* srchBox */
.srchBox {display: inline-block; position: relative;}
.srchBox input {display: inline-block; width: 100%; height: 30px; padding: 0 5px; border: 1px solid #C7D0D3; border-radius: 3px; box-sizing: border-box; background: #fff; color: inherit;}
.srchBox input:focus {border: 1px solid rgba(11,42,74,0.4); box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1); transition: all 0.3s ease-out;}
.srchBox .btn_srch {display: inline-block; position: absolute; top: 0; right: 0; width: 40px; height: 100%; border-radius: 0 3px 3px 0; background: #009583 url('~@/assets/images/ico_srch_w.png') 50% 50% no-repeat; background-size: 20px;}
.srchBox .btn_srch span {display: inline-block; overflow: hidden; text-indent: -999px;}
/* //srchBox */

/* custom table */
.custom_tbl {width: 100%; border: 1px solid #c7d0d3; border-radius: 3px; box-sizing: border-box; background:#fff;}
.custom_tbl table {width: 100%;}
.custom_tbl table tr {height: 25px;}
.custom_tbl table tr.active td {background: #fdeddc;}
.custom_tbl .tbl_hd {width: 100%; height: 25px; padding: 0 6px 0 0; box-sizing: border-box; background: #4e8692;}
.custom_tbl .tbl_hd th {color: #fff; font-size: 12px; font-weight: 700;}
.custom_tbl .tbl_bd {overflow: auto; width: 100%; height: 75px;}
.custom_tbl .tbl_bd td {border-right: 1px dotted #C7D0D3; border-bottom: 1px dotted #C7D0D3; font-size: 12px; text-align: center;}
.custom_tbl .tbl_bd tr td:last-child {border-right: none;}
.custom_tbl .tbl_ft {padding: 0 6px 0 0; border-top: 1px solid #C7D0D3; box-sizing: border-box; background: #f0f0f0;}
.custom_tbl .tbl_ft td {font-weight: 700; text-align: center;}
.custom_tbl .tbl_ft td + td {border-left: 1px dotted #C7D0D3;}
/* //custom table */

/* layer popup */
.lyr_bg_dim {overflow: hidden;}
.lyr_bg_dim:after {content: ''; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 999;}
.lyrBox {/* overflow: hidden; */ position: absolute; top: 50%; left: 50%; width: 500px; min-height: 150px; border-radius: 3px; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); background: #fff; transform: translate(-50%, -50%); z-index: 9999;}
/* .lyrBox > div:not(.lyr_hd) {border: 1px solid #fff; background: #fff;} */
.lyrBox .lyr_hd {height: 40px; padding: 0 20px; background: #4e8692; color: #fff; line-height: 40px;}
.lyrBox .lyr_hd .title {font-size: 16px; font-weight: 700;}
.lyrBox .lyr_hd .btn_lyr_close {overflow: hidden; float: right; width: 16px; height: 16px; margin: 12px 0 0; background: url(~@/assets/images/ico_close.png) 50% 50% no-repeat; background-size: contain; text-indent: -999px;}
.lyrBox .lyr_ct {padding: 20px;}
.lyrBox .lyr_ct p {margin:0; font-size: 15px; text-align: center;}
.lyrBox .lyr_ft {padding: 0 0 20px;}
.lyrBox .lyr_ft .btnBox {margin: 0; text-align: center;}
.lyrBox .lyr_ft .btnBox a {min-width: 70px; margin: 0 3px; color: #fff; line-height: 30px;}
/* .lyrBox .lyr_ft .btnBox a.btn_lyr_save {background: #009583;} */
.lyrBox .lyr_ft .btnBox a.btn_lyr_close {background: #7f8185;}
/* .lyrBox .lyr_ft .btnBox a.btn_lyr_cplt {background: #009583;}
.lyrBox .lyr_ft .btnBox a.btn_lyr_confirm {background: #009583;}
.lyrBox .lyr_ft .btnBox a.btn_alert_save {background: #009583;} */
.lyrBox .lyr_ft .btnBox a.btn_alert_close {background: #7f8185;}
.lyr_notify {width: 300px; min-height: 100px; color: #009583; font-size: 15px; font-weight: 700; line-height: 100px; text-align: center;}
.lyr_notify .lyr_ct {padding: 0 20px;}
.lyr_hide {-webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-name: lyr_hide; animation-name: lyr_hide;}

/* keyframes */
@-webkit-keyframes lyr_hide {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes lyr_hide {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
/* //layer popup */

/* 개별 layer popup */
/* STT 오류수정 */
#lyr_stt_edit .lyr_ct span {display: block; margin: 0 0 5px; font-size: 14px; font-weight: 700;}
#lyr_stt_edit .lyr_ct span small {color: #ff1616;}
#lyr_stt_edit .lyr_ct > div {padding: 10px 0 0;}
#lyr_stt_edit .lyr_ct .textBox {overflow: auto; width: 100%; height: 100px; padding: 5px; border: 1px solid #C7D0D3; border-radius: 3px; box-sizing: border-box;}
#lyr_stt_edit .lyr_ct .textArea_original {padding: 0 0 15px; border-bottom: 1px dotted #C7D0D3;}
#lyr_stt_edit .lyr_ct .textArea_original div.textBox {background: #f0f0f0;}
#lyr_stt_edit .lyr_ct .textArea_edit textarea.textBox {display: inline-block; background: #fff;}
#lyr_stt_edit .lyr_ct .textArea_edit textarea.textBox:focus {border: 1px solid rgba(11,42,74,0.4); box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1); transition: all 0.3s ease-out;}
/* //STT 오류수정 */

/* 질의응답 */
#lyr_qa_edit {width: 1240px;}
#lyr_qa_edit .lyr_ct {overflow: hidden;}
#lyr_qa_edit .lyr_ct div {width: 590px;}
#lyr_qa_edit .lyr_ct div strong {display: inline-block; padding: 0 10px; border-radius: 10px; background: #4e8692; color: #fff; line-height: 20px;}
#lyr_qa_edit .lyr_ct div span {font-weight: 700; line-height: 30px;}
#lyr_qa_edit .lyr_ct .qa_info {display: inline-block; float: right;}
#lyr_qa_edit .lyr_ct .qa_info em {display: inline-block; width: 130px; padding: 0 5px; border: 1px solid #C7D0D3; border-radius: 3px; box-sizing: border-box; background: #f0f0f0; color:#000; line-height: 30px;}
#lyr_qa_edit .lyr_ct .qa_info .iptBox {width: 130px;}
#lyr_qa_edit .lyr_ct .qa_info .iptBox input {border-color: #C7D0D3; color:#000;}
#lyr_qa_edit .lyr_ct .qa_info .select {width: 130px; color:#000;}
#lyr_qa_edit .lyr_ct .textBox {clear: both; width: 100%; height: 250px; padding: 5px; border: 1px solid #C7D0D3; border-radius: 3px; box-sizing: border-box;}
#lyr_qa_edit .lyr_ct div.textBox {margin: 10px 0; background: #f0f0f0; color:#000;}
#lyr_qa_edit .lyr_ct textarea.textBox {display: inline-block; margin: 10px 0 0; background: #fff;}
#lyr_qa_edit .lyr_ct textarea.textBox:focus {border: 1px solid rgba(11,42,74,0.4); box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1); transition: all 0.3s ease-out;}
#lyr_qa_edit .lyr_ct .fl {padding: 0 10px 0 0; border-right: 1px dotted #C7D0D3;}
#lyr_qa_edit .lyr_ct > div.disabled strong {background: #7f8185;}
#lyr_qa_edit .lyr_ct > div.disabled .iptBox input {background: #f0f0f0; color:#000; pointer-events: none;}
#lyr_qa_edit .lyr_ct > div.disabled .select {background: #f0f0f0; color:#000; pointer-events: none;}
#lyr_qa_edit .lyr_ct > div.disabled textarea.textBox {background: #f0f0f0; pointer-events: none;}
/* //질의응답 */

/* 취소확인 */
#lyr_cancel_confirm {width: 300px;}
/* //취소확인 */

/* 클립보드 */
.table_clipboard {position: absolute; top: 0; left: 0; width: 1px; height: 1px; margin: 0; padding: 0; border: 0;}
#lyr_clipboard .lyr_ct {background: #4e8692; color: #fff;}
/* //클립보드 */

/* 적용확인 */
#lyr_apply .lyr_ct {background: #4e8692; color: #fff;}
/* //적용확인 */

#lyr_sms_detail {width: 900px;}
#lyr_sms_detail .lyr_ct .custom_tbl .tbl_hd {height: auto; padding-right: 6px;}
#lyr_sms_detail .lyr_ct .custom_tbl .tbl_hd th {padding: 5px;}
#lyr_sms_detail .lyr_ct .custom_tbl .tbl_bd {height: 300px;}
#lyr_sms_detail .lyr_ct .custom_tbl .tbl_bd td {padding: 5px;}
#lyr_sms_detail .lyr_ct .custom_tbl .tbl_bd td:last-child {text-align: left;}
#lyr_sms_detail .lyr_ct .custom_tbl .tbl_bd td.data_empty {text-align: center;}
/* //개별 layer popup */

/* context menu */
.contextMenu {display: none; position: absolute; overflow: hidden; width: 200px; margin: 0; padding: 0; border-radius: 3px; box-shadow: 0 15px 35px rgba(50,50,90,0.2), 0 5px 15px rgba(0,0,0,0.07); box-sizing: border-box; background: #fff; z-index: 999;}
.contextMenu li {padding: 0 10px; box-sizing: border-box; transition: all 0.3s ease-out;}
.contextMenu li a {display: block; padding: 10px 10px 10px 20px; background: url('~@/assets/images/ico_arw_circle.png') 0 50% no-repeat; background-size: 15px; transition: background-color 0.3s ease-out;}
.contextMenu li:hover {background: #4d8691; color: #fff;}
.contextMenu li:hover a {background: url('~@/assets/images/ico_arw_circle_w.png') 0 50% no-repeat; background-size: 15px; color: #fff;}
/* //context menu */

/* v-data-table */
.v-data-table-header {background-color: #4e8692;}
.v-data-table-header tr th span {color: #fff;}
.v-alert {color: unset !important; background-color: unset !important;}
/* //v-data-table */

/* jqx-grid-data-table */
.jqx-grid-column-header {z-index: 0 !important;}
.jqx-grid-column-header div span {color: #fff;}
.jqx-grid-column-header:hover {cursor: pointer;}
.jqx-widget-header {background-color: #4e8692;}
.jqx-widget-header > div > div >span:hover {cursor: pointer !important;}
.jqx-icon-arrow-up {background-image: url('~@/assets/images/sort_asc.png');}
.jqx-icon-arrow-down {background-image: url('~@/assets/images/sort_desc.png');}
.jqx-widget .jqx-grid-cell {border-color: #C7D0D3;}
.jqx-grid-cell {border-style: dotted;}
.jqx-fill-state-hover, .jqx-grid-cell-sort {background-color: #e9f1f3;}
.jqx-fill-state-pressed {background-color:#e9f1f3;}
/* //jqx-grid-data-table */
