@charset "utf-8";
/* MINDsLab. YMJ. 20190830 */

.al_c {text-align:center !important;}
.hide {overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; margin:0; padding:0; line-height:0;}

/* wrap */
#wrap {position:relative; width:100%; min-width:1240px; height:100%;}
#wrap:before {content:''; position:absolute; top:0; left:0; width:100%; height:200px; background:#49827b;}

/* header */
#header {display:table; position:relative; width:100%; height:60px; z-index:1000; transition:all 0.3s ease-out;}
#header .lot_col02:first-child {display:table-cell; width:200px; text-align:center; vertical-align:middle;}
#header .lot_col02 {display:table-cell;}

#header h1 {display:block; width:200px;}
#header h1 span {display:block; color:rgba(255,255,255,0.6); font-size:11px; font-weight:normal; line-height:12px;}
#header h1 em {display:block; color:rgba(255,255,255,1.0); font-size:15px; font-weight:700;}

.nav_status {float:right; margin:15px 50px 0 0;}
.nav_status ul {display:block;}
.nav_status ul li {display:inline-block; margin:0 0 0 10px}
.nav_status ul li.total {padding:0 10px 0 0; border-right:1px solid rgba(0,0,0,0.1);}
.nav_status ul li a {display:block; overflow:hidden; position:relative; width:110px; padding:5px 0; color:rgba(255,255,255,0.7); font-size:11px; text-align:center; border-radius:5px; background:rgba(11,42,74,0.2); transition:all 0.3s ease-out;}
.nav_status ul li a:hover, .nav_status ul li a:focus {}
.nav_status ul li em {display:block; overflow:hidden; position:relative; width:100px; padding:5px 0; color:rgba(255,255,255,1.0); font-size:11px; text-align:center; border-radius:5px; background:rgba(11,42,74,0.2); transition:all 0.3s ease-out;}
.nav_status ul li span.tit {float:left; position:relative; padding:0 0 0 5px; z-index:10; font-size: 12px; font-weight: 700; letter-spacing:-1px;}
.nav_status ul li span.txt {float:right; position:relative; padding:0 5px 0 0; font-size: 12px; font-weight: 700; z-index:10;}
.nav_status ul li span.bar {position:absolute; top:0; left:0; height:100%; background:rgb(26,49,72,0.6); transition:all 0.3s ease-out;}

/* header(fixed) */
#header.fixed {position:fixed; top:0; background:rgba(11,42,74,0.95); transition:all 0.3s ease-out;}
#header.fixed .nav_status ul li.total {padding:0 10px 0 0; border-right:1px solid rgba(255,255,255,0.1);}
#header.fixed .nav_status ul li a {color:rgba(255,255,255,0.7); background:rgba(255,255,255,0.1); transition:all 0.3s ease-out;}
#header.fixed .nav_status ul li em {color:rgba(255,255,255,1.0); background:rgba(255,255,255,0.1); transition:all 0.3s ease-out;}
#header.fixed .nav_status ul li span.bar {background:linear-gradient(45deg, #008ad8, #00aebc); transition:all 0.3s ease-out;}

/* container */
#container {position:relative; display:table; width:calc(100% - 60px); height:calc(100% - 80px); padding:0 30px;}

/* container(contents) */
#contents {display:table; width:100%;}

/* section */
.stn {display:block; margin:0 0 20px 0;}
.stn .stn_tit {display:block; position:relative;}
.stn .stn_tit h4 {display:inline-block; color:rgba(11,42,74,1.0); font-size:16px; font-weight:500;}
.stn .stn_cont {display:block; position:relative;}

/* section(All Box Type) */
.stn.allBoxType {overflow:hidden; border-radius:4px; background:#15444e; box-shadow:0 0 15px rgba(11,42,74,0.2);}
.stn.allBoxType .stn_tit {display:block; clear:both; overflow: hidden; padding:10px 20px; line-height:18px; cursor:pointer;}
.stn.allBoxType .stn_tit:hover h4 {text-decoration:underline;}
.stn.allBoxType .stn_tit h4 {float:left; color:rgba(255,255,255,1.0); font-weight: 700;}
.stn.allBoxType .stn_tit .s_db {float:right; font-size:13px;}
.stn.allBoxType .stn_tit .s_db dl {display:inline-block; margin:0 15px 0 0;}
.stn.allBoxType .stn_tit .s_db dl:last-child {margin:0;}
.stn.allBoxType .stn_tit .s_db dl dt {display:inline-block; color:rgba(255,255,255,0.6); font-weight: 700;}
.stn.allBoxType .stn_tit .s_db dl dd {display:inline-block; color:rgba(255,255,255,1.0); font-weight: 700;}
.stn.allBoxType .stn_cont {display:block; padding:24px; background: #fff;}

.stn.allBoxType.close .stn_cont {display:none;}

/* table */
.tbl_lineType {width:100%; table-layout:fixed;}
.tbl_lineType thead th {padding:7px 5px; color:rgba(11,42,74,1.0); font-size:13px; font-weight:500; text-align:center; vertical-align:middle; letter-spacing:-1px; border-top:2px solid rgba(11,42,74,1.0); border-bottom:2px solid rgba(11,42,74,1.0);}
.tbl_lineType tbody td {padding:5px; color:rgba(11,42,74,0.6); font-size:12px; text-align:left; vertical-align:middle; letter-spacing:-0.1px; border:1px solid #eef1f7; word-break:keep-all; background:#fff;}
.tbl_lineType tbody tr td:first-child {border-left:none;}
.tbl_lineType tbody tr td:last-child {border-right:none;}
.tbl_lineType tbody {counter-reset:tblNum;}
.tbl_lineType tbody tr td:first-child:before {counter-increment:tblNum; content:counter(tblNum);}
.tbl_lineType tbody tr td a {color:#203440;}
.tbl_lineType tbody tr td a:hover, .tbl_lineType tbody tr td a:focus {text-decoration:underline;}
.tbl_lineType tbody tr td img {display:inline-block; margin:0 0 0 5px; vertical-align:middle;}
.tbl_lineType td.col_num, .tbl_lineType td.col_point, .tbl_lineType td.col_date, .tbl_lineType td.col_state, .tbl_lineType td.col_worker {text-align:center;}
.tbl_lineType tbody tr td span {display:inline-block; width:50px; padding:7px 0; color:#fff; font-size:11px; text-align:center; line-height:10px; border-radius:30px;}
.tbl_lineType tbody tr td span.stand {color:rgba(11,42,74,1.0); background:rgba(11,42,74,0.1);}
.tbl_lineType tbody tr td span.working {background:rgb(193,146,38,1.0);}
.tbl_lineType tbody tr td span.complete {background:#49827b;}
.tbl_lineType tbody tr td span.modify {background:#da3030;}

/* TOP Button */
.btn_goTop {position:fixed; right:-50px; bottom:20px; width:50px; height:50px; color:#fff; font-size:14px; text-align:center; line-height:48px; border-radius:5px; background:linear-gradient(45deg, #008ad8, #00aebc); opacity:0; transition:all 0.3s ease-out;}
.btn_goTop span {position:absolute; top:0; left:0; overflow:hidden; width:50px; height:50px; font-size:11px; line-height:120px; word-break:keep-all; background:url("~@/assets/images/ico_goTop_w.png") 50% 50% no-repeat; background-size:50%; transition:all 0.3s ease-out;}
.btn_goTop:hover, .btn_goTop:focus {color:#fff; box-shadow:0 0 15px rgba(11,42,74,0.4); transition:all 0.3s ease-out;}
.btn_goTop:hover span, .btn_goTop:focus span {height:37px; padding:13px 0 0 0; line-height:13px; background:url("~@/assets/images/ico_goTop_w.png") 50% -100% no-repeat; background-size:50%; transition:all 0.3s ease-out;}

/* footer */
#footer {display:block; position:relative; height:19px; font-size:11px; text-align:center; border-top:1px solid #eef1f7; background:#fff;}
