<template>
	<div>
		<div id="wrap" class="login_wrap">
			<router-view/>
		</div>
	</div>
</template>

<script>
export default {
    name: "LoginLayout"
}
</script>

<style lang="scss" scoped>
    ::v-deep {
        @import '~css/login';
    }
</style>