<template>
  <div>
    <component
      v-bind:is="modalState.name"
      :parameters="modalState.parameters"
      v-for="(modalState, index) in modalStates"
      :key="index"
    />
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import ConsultCodeModal from "../modal/ConsultCodeModal";

export default {
  name: "ModalLayout",
  components: {
    ConsultCodeModal,
  },
  computed: {
    ...mapState("base", {
      modalStates: "modalStates",
    }),
  },
  methods: {
    ...mapActions("base", {
      clearModal: "clearModal",
    }),
  },
    beforeDestroy() {
    this.clearModal();
  },
};
</script>

<style lang="scss" scoped>
</style>