<template>
    <div>
        <div id="wrap">
            <!-- #container -->
            <div id="container">
                <!-- #contents -->
                <router-view />
                <!-- //#contents -->
            </div>
            <!-- //#container -->
        </div>
        <stt-context-menu/>
    </div>
</template>

<script>

import ModalLayout from "./ModalLayout";

export default {
    name: "PopupLayout",
    components: {
        ModalLayout,
    },
    data() {
        return {

        }
    },
    methods: {

    }
}
</script>

<style scoped lang="scss">
    ::v-deep {
        @import '~css/popup';
    }
</style>