<template>
    <div>
        <div id="wrap">
            <user-header/>
            <!-- #container -->
            <div id="container">
                <!-- #contents -->
                <div id="contents" :class="className">
					<!-- .tab_title -->
					<div class="tab_title" v-if="this.keepComponents.length > 0">
						<div class="tab_list_wrap">
							<ul class="tab_list">
								<li :class="{active : isActive(item)}" v-for="(item, index) in this.keepComponents" :key="index">
									<a @click="$router.push(item.to)">{{item.korName}}</a>
									<a class="btn_close" @click="removeComponent(item.routeName, item.key)"></a>
								</li>
							</ul>
						</div>
						<div class="tab_dropdown" style="display: block;">
							<div class="btnBox">
								<a class="btn_tab_allDlt btn_lyr_open" @click="clearComponent">탭 전체삭제</a>
							</div>
						</div>
					</div>
					<!-- //.tab_title -->

                    <!-- .tab_content -->
                    <div class="tab_content">
                        <base-keep-alive>
                            <router-view v-if="this.keepComponents.length > 0" :key="$route.params.key ? $route.params.key : $route.name+'-'+($route.query.key ? $route.query.key : key)"></router-view>
                            <router-view v-else></router-view>
                        </base-keep-alive>
                    </div>
                    <!-- //.tab_content -->
                </div>
                <!-- //#contents -->
            </div>
            <!-- //#container -->
        </div>
    </div>
</template>

<script>
import userHeader from "@/components/layout/Header";
import {EventBus} from "../../utils/bus";
import {mapGetters, mapActions} from "vuex";
export default {
    name: "UserLayout",
    components: {userHeader},
    data() {
        return {
            className: null,
            location: this.$route.meta.location,
        }
    },
    methods: {
        ...mapActions('base', {
            clearComponents: 'clearComponent',
            removeComponentByKey: 'removeComponentByKey',
            setComponent: "setComponent",
        }),
        setContetnsClass: function(payload) {
            this.className = payload.className;
        },
        clearComponent: function(){
            this.clearComponents({router: this.$router});
            EventBus.$emit('clearCache');
        },
        removeComponent: function(routeName, key){
            if(this.keepComponents.length > 1){
                this.removeComponentByKey({routeName: routeName, route: this.$route, router: this.$router});
                EventBus.$emit('removeCacheByKey', key);
            }
        },
		isActive(item) {
			if(!item || !item.to) {
				return false;
			}

			const path = item.to.split("?")[0];
			return this.$route.path === path;
		}
    },
    computed: {
        ...mapGetters('base', {
            keepComponents: 'keepComponents',
        }),
        key() {
            const key = new Date().getMilliseconds();
            if(this.$route.name && !this.$route.query.key && this.$route.name !== 'Login'){
                this.setComponent({routeName: this.$route.name, key: this.$route.name+'-'+key, to: this.$route.fullPath+'?key='+key, korName: this.$route.meta.korName});
            }
            return key;
        }
    },
    created() {
        EventBus.$on('setContetnsClass', this.setContetnsClass);
    }
}
</script>

<style lang="scss" scoped>
    ::v-deep {
        @import '~css/stt_tm_qa';
    }
</style>
