<template>
    <modal-component modal-add-class="small" :modal-add-style="{width: 'auto', height: 'auto'}" :is-close="true" @modal:close="closeModal">
        <section slot="title">
            상담 코드 등록
        </section>
        <section slot="content">
            <div class="admin small">
                <!-- .counsel_stn_manage -->
                <div class="counsel_stn_manage">
                    <!-- .pop_mdl -->
                    <div class="pop_mdl">
                        <!-- .setBox -->
                        <div class="setBox">
                            <h2>상담 코드 추가</h2>

                            <div class="btnBox">
                                <a @click="setCode" class="btn_add_item">추가</a>
                            </div>

                            <div class="tbl_popup_set">
                                <table summary="상담 코드, 상담명으로 구성됨">
                                    <caption class="hide">상담 코드 추가</caption>
                                    <colgroup>
                                        <col width="200"><col>
                                    </colgroup>

                                    <thead>
                                    <tr>
                                        <th scope="col">상담 코드</th>
                                        <th scope="col">상담명</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td scope="row">
                                            <div class="iptBox">
                                                <input v-model.trim="$v.cd.$model" type="text" maxlength="24">
                                                <p v-if="$v.cd.$error">입력값을 확인해주세요.</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="iptBox">
                                                <input v-model="$v.cdNm.$model" type="text" maxlength="24">
                                                <p v-if="$v.cdNm.$error">입력값을 확인해주세요.</p>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //.setBox -->

                        <!-- .setBox -->
                        <div class="setBox">
                            <h2>상담 코드 조회</h2>

                            <div class="btnBox">
                                <a @click="getCodes" class="btn_srch">조회</a>
                            </div>

                            <div class="tbl_popup_set">
                                <table summary="상담코드, 상담명으로 구성됨">
                                    <caption class="hide">상담 코드 조회</caption>
                                    <colgroup>
                                        <col width="200"><col>
                                    </colgroup>

                                    <thead>
                                    <tr>
                                        <th scope="col">상담코드</th>
                                        <th scope="col">상담명</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td scope="row">
                                            <div class="iptBox">
                                                <input v-model="searchParam.cd" type="text" maxlength="24">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="iptBox">
                                                <input v-model="searchParam.cdNm" type="text" maxlength="24">
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //.setBox -->

                        <!-- .setBox -->
                        <div class="setBox">
                            <h2>상담 코드 리스트</h2>

                            <div class="btnBox btn_change_group">
                                <a v-if="!editable" @click="editable = true" class="btn_edit">수정</a>
                                <a v-if="editable" @click="updCodes" class="btn_save">저장</a>
                                <a v-if="editable" @click="delCodes" class="btn_delete">삭제</a>
                                <a v-if="editable" @click="editable = false" class="btn_cancel">취소</a>
                            </div>

                            <div class="tbl_popup_set">
                                <div class="tbl_hd">
                                    <table summary="선택, 상담코드, 상담명으로 구성됨">
                                        <caption class="hide">상담 코드 리스트</caption>
                                        <colgroup>
                                            <col width="50"><col width="200"><col>
                                        </colgroup>

                                        <!-- [D] 테이블 상단 수정버튼(.btn_edit)클릭 시 선택 컬럼 보여주어야함 -->
                                        <thead>
                                        <tr>
                                            <th scope="col">선택</th>
                                            <th scope="col">상담코드</th>
                                            <th scope="col">상담명</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>

                                <div class="tbl_bd tbl_scroll ten_line">
                                    <table>
                                        <colgroup>
                                            <col width="50"><col width="200"><col>
                                        </colgroup>

                                        <tbody>
                                        <tr v-if="codes && codes.length > 0" v-for="(item, index) in $v.codes.$each.$iter">
                                            <td scope="row">
                                                <!-- [D] input[type="checkbox"]의 id와 label의 for 값을 동일하게 주어야함 -->
                                                <div class="chkBox">
                                                    <input type="checkbox" :disabled="!editable" v-model="modifyCodes" :value="item.$model" :id="'each_chk-'+item.$model.cd+'-'+index">
                                                    <label :for="'each_chk-'+item.$model.cd+'-'+index"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="iptBox">
                                                    <input type="text" v-model.trim="item.$model.cd" readonly maxlength="24">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="iptBox">
                                                    <input type="text" v-model="item.$model.cdNm" :readonly="!editable" maxlength="24">
                                                    <p v-if="item.$error">입력값을 확인해주세요.</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr v-if="!codes || codes.length === 0">
                                            <td colspan="3">조회된 데이터가 없습니다.</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- //.setBox -->
                    </div>
                    <!-- //.pop_mdl -->
                </div>
                <!-- //.counsel_stn_manage -->
            </div>
        </section>
    </modal-component>
</template>

<script>
import ModalComponent from "./ModalComponent";
import {mapActions} from "vuex";
import { required, maxLength, minLength, alphaNum } from 'vuelidate/lib/validators';

export default {
    name: "ConsultCodeModal",
    components: {ModalComponent},
    props: {
        parameters: {
            type: Object,
            default: {}
        },
    },
    watch: {
        editable(n) {
            this.modifyCodes = [];
            if(!n){
                this.getCodes();
            }
        }
    },
    data(){
        return {
            data : [],
            cdGp: 'SDCODE',
            cd: null,
            cdNm: null,
            editable: false,
            searchParam: {
                cd: null,
                cdNm: null,
            },
            codes: [],
            modifyCodes: [],
            codeRepository: this.parameters.repositoryFactory.get('code'),

        }
    },

    validations: {
        cd: {
            required,
            alphaNum,
            maxLength: maxLength(20)
        },
        cdNm: {
            required,
            maxLength: maxLength(20)
        },
        codes:{
            $each:{
                cdNm:{
                    required,
                    maxLength: maxLength(20)
                },
            },
        },
        modifyCodes:{
            required,
            minLength: minLength(1)
        }
    },
    computed: {

    },
    methods: {
        ...mapActions('base', {
            removeModal: 'removeModal',
        }),
        closeModal() {
            this.removeModal(this);
        },
        async setCode(){
            this.$v.cd.$touch();
            this.$v.cdNm.$touch();
            if(!this.$v.cd.$invalid && !this.$v.cdNm.$invalid){
                const {data: result} = await this.codeRepository.setCodeDetail({cdGp: this.cdGp, cd: this.cd, cdNm: this.cdNm});
                if(result.status === 'FAIL'){
                    alert('상담 코드 등록에 실패하였습니다.');
                }else if(result.status === 'VIOLATION_OF_PRIMARY_KEY'){
                    alert('중복된 코드가 존재합니다.');
                }else{
                    this.cdNm = null;
                    this.cd = null;
                    this.searchParam.cdNm = null;
                    this.searchParam.cd = null;
                    alert('상담 코드 등록이 완료되었습니다.');
                    await this.getCodes();
                }
            }
        },
        async updCodes(){
            this.$v.modifyCodes.$touch();
            if(this.$v.modifyCodes.$invalid){
                alert('선택된 코드가 없습니다.');
                return;
            }
            this.$v.codes.$touch();
            if(!this.$v.codes.$invalid){
                const {data: result} = await this.codeRepository.updCodes(this.modifyCodes);
                if(result.status === 'FAIL'){
                    alert('상담 코드 수정에 실패하였습니다.');
                }else if(result.status === 'PARTIAL_SUCCESS'){
                    alert('일부 코드 수정에 실패하여 데이터가 롤백 되었습니다.');
                }else{
                    alert('상담 코드 수정이 완료되었습니다.');
                    await this.getCodes();
                    this.editable = false;
                }
            }
        },
        async delCodes(){
            this.$v.modifyCodes.$touch();
            if(this.$v.modifyCodes.$invalid){
                alert('선택된 코드가 없습니다.');
            }else{
                const {data: result} = await this.codeRepository.delCodes({data: this.modifyCodes.map(v=>v.cd)});
                if(result.status === 'FAIL'){
                    alert('상담 코드 삭제에 실패하였습니다.');
                }else if(result.status === 'PARTIAL_SUCCESS'){
                    alert('일부 코드 삭제에 실패하여 데이터가 롤백 되었습니다.');
                }else{
                    alert('상담 코드 삭제가 완료되었습니다.');
                    await this.getCodes();
                    this.editable = false;
                }
            }
        },
        async getCodes(){
            if(this.codes.length > 0){
                this.editable = false;
            }
            const {data: result} = await this.getCodeDetailByGroupCode(this.cdGp, null, this.searchParam.cdNm, this.searchParam.cd);
            if(result.status === 'NOT_FOUND') console.log('조회결과 없음 - 상담 코드 목록');
            this.codes = result.data;
        }
    },
    mounted() {

    },
    created() {
        this.getCodes();
    }
}
</script>

<style lang="scss" scoped>
    @import '~css/popup';
</style>